@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', sans-serif !important;
	scroll-behavior: smooth;
	overflow-x: hidden;
	
}



a {
	text-decoration: none;
}

.container-main {
	max-width: 1450px;
	margin: auto;
	width: 90%;
}

.featureGradient {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		linear-gradient(263.64deg, rgba(0, 0, 0, 0) 11.72%, rgba(0, 0, 0, 0.65) 64.61%);

}

.clientGradient {
	border: 1px solid;
	border-image-source: linear-gradient(180deg, #FFFFFF 0%, #2A2A2A 100%);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 61.69%, rgba(255, 255, 255, 0.85) 82.03%);
}


.swiper-pagination {
	text-align: center;
	/* Center the dots */
	position: relative !important;
	margin-top: 20px;
}

.swiper-pagination-bullet {
	background-color: white !important;
	/* White color for pagination bullets */
	opacity: 0.6;
	/* Slight transparency */
	width: 10px !important;
	/* Bullet size */
	height: 10px !important;
	/* Bullet size */
	margin: 0 4px;
	/* Space between bullets */
	transition: background-color 0.3s ease, opacity 0.3s ease;
	/* Smooth transition */
}

/* Custom Swiper Pagination Bullets */
.swiper-pagination-bullet {
	background-color: white;
	opacity: 0.5;
}

.swiper-pagination-bullet-active {
	background-color: white;
	opacity: 1;
}

.swiper-pagination-black .swiper-pagination-bullet {
	background-color: black !important;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
	background-color: black !important;
}

video::-webkit-media-controls-panel {
	display: none !important;
	-webkit-appearance: none;
}

video::-webkit-media-controls-play-button {
	display: none !important;
	-webkit-appearance: none;
}

video::-webkit-media-controls-start-playback-button {
	display: none !important;
	-webkit-appearance: none;
}

header {
	display: -webkit-flex;
	-webkit-box-flex: wrap;
}
@media (min-width: 768px) {
.swiper-wrapper{
	justify-content: space-around;
}
}

@keyframes reveal {
	0% {
		opacity: 0;
		transform: rotateX(-90deg);
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
	}
}

.text-96px {
	@apply lg:text-[70px] xl:text-[85px] 3xl:text-[96px];
}

.text-80px {
	@apply lg:text-[60px] xl:text-[70px] 3xl:text-[80px];
}

.text-64px {
	@apply lg:text-[48px] xl:text-[56px] 2xl:text-[59px] 3xl:text-[64px];
}

.text-48px {
	@apply leading-[85px] text-[24px] lg:text-[40px] xl:text-[48px] 3xl:text-[48px];
}

.text-40px {
	@apply lg:text-[33px] xl:text-[36px] 3xl:text-[40px];
}



.word-animate {
	perspective: 1000px;
}

.word-animate p {
	transform-origin: top center;
	backface-visibility: hidden;
}

.perspective {
	perspective: 1000px;
}

.rotate-x-0 {
	transform: rotateX(0deg);
}

.rotate-x-90 {
	transform: rotateX(90deg);
}


.rotate-x-270 {
	transform: rotateX(-70deg);
	opacity: 0;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.grid-bg {
	background:
		linear-gradient(to right, #ffffff0d 2px, transparent 2px),
		linear-gradient(to bottom, #ffffff0d 2px, transparent 2px);
	background-size: 180px 180px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	/* Firefox */
}


#callback-mobile,
#callback-desktop {
  scroll-margin-top: 120px;
}


@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-popup {
  animation: popup 0.3s ease-out;
}
